spring:
  application:
    name: commerce-product-service

  datasource:
    url: jdbc:postgresql://localhost:5432/commerce_product
    username: ${DB_USERNAME:commerce_product}
    password: ${DB_PASSWORD:commerce_product}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081